// Custom Wordpress login styles
body.login { 
	background: #f9f9f9; 
	h1 > a {
		background: url("http://placehold.it/312x125&text=Custom+Login+Image") no-repeat scroll center transparent; 
		background-size: auto;
		display: block;
		height: 125px;
		margin-left: 8px; 
		overflow: hidden;
		padding-bottom: 25px;
		text-indent: -9999px;
		width: 312px;
	}
	form {
		.input {}
	}
	label {}
	#nav,
	#backtoblog {
		> a {}
	}
} 